@tailwind base;
@tailwind components;
@tailwind utilities;

[type='text'],
[type='password'],
[type='email'],
[type='number'],
[type='url'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='time'],
[type='search'],
[type='tel'],
[type='checkbox'],
[type='radio'],
[multiple],
textarea,
select {
    @apply shadow-sm bg-neutral-100 focus:outline-none border-none focus:ring-1 focus:ring-orange-500 w-full text-neutral-700 focus:bg-white
}

[type='text'],
[type='email'],
[type='tel'],
select {
    @apply py-3
}

@layer base {
    .swiper-pagination-bullet {

        @apply py-2 px-4 rounded-none w-auto h-4 text-sm text-black bg-white
        /* padding: 5px 10px;
        border-radius: 0;
        width: auto;
        height: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        background: rgba(0,0,0,0.2); */
    }

    .swiper-pagination-bullet-active {
        @apply text-white bg-orange-500
        /* color:#fff;
        background: #007aff; */
    }
}
